*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: #f9b1ff;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1{
    font-size: 40px;
    color: rgb(203, 39, 229);
    padding: 15px ;
}
h2{ font-size: 20px;
}
#color {
    width: 100px;
    height: 75px;
    margin-bottom: 40px;
    border: none;
    cursor: pointer;

}
#Lred {
    color: red;
}
#Lgreen {
    color: green;
}
#Lblue{
    color: blue;
}




.rowRGB {
    padding: 5px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    width: auto;
}

label { 
    color: darkslategrey;
}
.cuadrado {
    width: 75px;
    height: 75px;
    border-color: black;
    margin: 5px; 
    
}
.parte {
    width: wrap;
    height: wrap;
    
}
#rgb {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    color: aliceblue;
    padding: 5px;
    border: none;
    background-color: rgb(55, 12, 48);
    border-radius: 5px;
    cursor:pointer;
}
#rgbC {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-top: 25px;
    color: aliceblue;
    padding: 5px;
    border: none;
    background-color: rgb(55, 12, 48);
    border-radius: 5px;
    cursor:pointer;
}
#mono {
    margin-top: 20px;

}
#coloresMono {
    display: flex;
    flex-direction: row;

}

#partes {
    display: flex;
    flex-direction: row;

}